:root {
    --bg-color: #87ceeb;
    --btn-color: #1363df;
    --txt-color: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    overflow-x: hidden;
    font-family: 'Open sans', sans-serif;
    /* background-color: var(--bg-color); */
}
header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: white;
}
header > img {
  width: 250px;
  height: 150px;
  margin-top: -2rem; 
}
nav {
  width: 60%;
}
ul {
  display: flex;
  justify-content: space-evenly;
}
li {
  list-style: none;
  font-size: 14px;
  padding-bottom: 0.3rem;
}
.mobile-nav-toggle {
    display: none;
}
li > a {
  color: var(--bg-color);
  text-decoration: none;
}
li > a:hover {
  border-bottom: 2px solid var(--bg-color);
}

header > button, .img-txt > button, .txt-div > button {
  font-family: inherit;
  border: none;
  background-color: #1363DF;
  color: var(--txt-color);
  font-size: 14px;
  font-weight: 700;
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
  cursor: pointer;
}
header > button:hover {
  opacity: 0.7;
}
#carousel-div {
    width: 100%;
    /* background: url("https://media.istockphoto.com/photos/view-of-wind-turbines-generating-electricity-in-english-channel-from-picture-id1193284558?k=20&m=1193284558&s=612x612&w=0&h=yW_cwTKo23hN8anVXelnFfmg6N_DFubYbriyc0HE_AI=");
    background-size: contain; */
}
.img-txt > button {
    display: none;
}
.carousel {
    position: relative;
    height: 500px;
    width: 100%;
    margin: 0 auto;
}
.carousel-track-container {
    /* background: var(--bg-color); */
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.carousel-track {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 250ms ease-in;
}
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
    transition: 0.6s ease;
}
.img-txt {
    font-size: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
    left: 20%;
    text-align: left;
    z-index: 3;
}
.img-txt > h3 {
    width: fit-content;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--bg-color);
    color: white;
    font-size: 1em;
    z-index: 3;
    margin-bottom: 2rem;
}
.img-txt > p {
    line-height: 1.4;
    color: white;
    font-size: 1.2em;
}
.carousel-btn-left {
    left: 40px;
    z-index: 2;
}
.carousel-btn-right {
    right: 40px;
    z-index: 2;
}
.carousel-btn > i {
    font-size: 25px;
    color: #fff;
}
.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.carousel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    border: 2px solid var(--txt-color);
    display: block;
    z-index: 2;
}
.carousel-nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.carousel-indicator {
    border: 0;
    margin: 0 12px;
    cursor: pointer;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: #4682b4;
}
.carousel-indicator.current-slide {
    background: #fff;
}
.is-hidden {
    display: none;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    width: 100%;
    height: 100%;
}
#about {
    display: flex;
    padding: 3rem;
    color:black;
    justify-content: center;
    font-size: 1.2em;
    gap: 3rem;
}
.img-div {
    width: 50%;
    height: auto;
}
.img-div > img {
    width: 100%;
    border-radius: 10px;
}
.txt-div {
    width: 50%;
    line-height: 1.5;
    position: relative;
    box-shadow: 0 0 3px rgba(0,0,0,0.7);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}
span {
    font-size: 2em;
    color: #1363DF;
    font-weight: 700;
}
button > a {
    text-decoration: none;
    color: var(--txt-color);
}
button:hover {
  opacity: 0.7;
}
#services {
    background: url("https://media.istockphoto.com/photos/underwater-fiber-optic-cable-on-ocean-floor-picture-id1362710800?k=20&m=1362710800&s=612x612&w=0&h=5GA1SQIHVcS1V7dUGkQiVDm4lau58WGkfLN-sUR1hD4=");
    background-size: cover;
    margin-top: 50px;
}
#services > h3 {
    padding-top: 2rem;
    color: var(--txt-color);
    font-size: 2.2em;
    text-align: center;
    text-decoration: underline;
}
#service-div {
    margin-top: 30px;
    color: var(--txt-color);
    display: grid;
    justify-content: center;
    grid-gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 500px 500px;
    padding: 2rem 3rem;
}
.service {
    background-color: white;
    color: black;
    border-radius: 10px;
}
.service > img {
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
}
.service > h4 {
    padding-left: 1.5rem;
    font-size: 1.8em;
    margin-top: 1rem;
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-color: var(--btn-color);
}
.service > p {
    padding-left: 1.5rem;
    font-size: 14px;
    line-height: 1.9;
}
/* CONTACT */
#contact {
  display: flex;
  flex-direction: column-reverse;
}
.showcase {
  background-color: var(--bg-color);
  padding: 5rem;
  text-align: center;
  line-height: 3rem;
  
}
.showcase h1 {
  font-size: 2.5rem;
}
.showcase p {
  font-size: 1.2rem;
}
.contact--card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 3rem 7rem;
  align-items: center;
}
.contact--card h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.contact--info {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
}
.contact--info img {
  width: 300px;
}
.contact--info div {
  display: grid;
  gap: 1rem;
  margin: 2rem;
}
.contact--info div span {
  margin-right: 1rem;
}
.contact--info div span i {
  font-size: 1.5rem;
}
.contact--card form {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
}
.contact--card form label {
  font-size: 1.5rem;
  width: 80%;
  text-align: center;
  font-weight: 600;
  align-self: center;
}
.contact--card form > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.contact--card form input {
  height: 2.5rem;
  border-radius: 10px;
  border: 1px solid #cecbcb;
  padding: 1rem;
}
.contact--card form input::placeholder {
  color: #cecbcb;
}
.contact--card form textarea {
  border-radius: 10px;
  border: 1px solid #cecbcb;
  padding: 1rem;
}
.contact--card form textarea::placeholder {
  color: #cecbcb;
}
.contact--card form input[type="submit"] {
  border: none;
  background-color: var(--btn-color);
  color: white;
}
/* FOOTER */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #cecbcb;
}
.copyright-mobile {
    display: none;
}
footer .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .logo img {
  width: 200px;
  height: 200px;
}
footer .logo div {
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: relative;
  top: -1.5rem;
}
footer .logo div a {
  text-decoration: none;
  color: black;
}
footer .logo div a:hover {
  color: var(--btn-color);
}
footer .logo div i {
  font-size: 1.5rem;
}
footer .footer--nav {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
.footer--nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer--nav ul li a {
  text-decoration: none;
  color: black;
}
.footer--nav ul li a:hover {
  color: var(--btn-color);
  border-bottom: 2px solid var(--btn-color);
}
footer .form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
footer form input[type="text"] {
  width: 250px;
  padding: 0.5rem;
  border-radius: 5px;
}
footer form input[type="submit"] {
  /* height: 2rem; */
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  background-color: var(--btn-color);
  border: none;
  color: white;
}
.form p, .copyright-mobile {
  font-size: 0.8rem;
}